.popArtButton {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0,0,0,0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .popArtButton:after {
    content: "";
    background-color: #ffe54c;
    background: #fff6c1 url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsimple-repeat.com%2Fimg%2Fpngimg%2Fbasic%2Fdot%2Fyellow%2FSolid256dot2_8_yellow.png&f=1&nofb=1&ipt=613ef9eda539cf7b865d41fba8fee56e6e6907b72697133b1700a4b598d59089&ipo=images");
    /* background: yellow url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.digitalscrapbook.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F456_scale%2Fpublic%2Fs3fs-user-content%2Fgraphic-image%2Fuser-2%2Fnode-1135%2Fpolka-dots-23-overlay-graphic-pattern-template-black.png&f=1&nofb=1&ipt=65f44971ea57738a678a67404de83d9da284d1eb03234f48415e713876217e19&ipo=images"); */
    background-size: 100px 100px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .popArtButton:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .popArtButton {
      padding: 13px 50px 13px;
    }
  }