@import url('https://fonts.cdnfonts.com/css/badaboom-bb');

/* start badaboom font */
.badaboom {
    font-family: 'BadaBoom BB', sans-serif;
}
/* end badaboom font */



/* start text borders */
.textBorderDarkRed{
    text-shadow: -2px 0 #902724, 0 2px #902724, 2px 0 #902724, 0 -2px #902724;
}
.textBorderLightRed {
    text-shadow: -2px 0 #f23c27, 0 2px #f23c27, 2px 0 #f23c27, 0 -2px #f23c27;
}
.textBorderYellow{
    text-shadow: -2px 0 #f7d281, 0 2px #f7d281, 2px 0 #f7d281, 0 -2px #f7d281;
}
.textBorderLightBlue {
    text-shadow: -2px 0 #1b729f, 0 2px #1b729f, 2px 0 #1b729f, 0 -2px #1b729f;
}
.textBorderDarkBlue {
    text-shadow: -2px 0 #1a323e, 0 2px #1a323e, 2px 0 #1a323e, 0 -2px #1a323e;
}
.textBorderWhite{
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
.textBorderBlack{
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
/* end text borders */



/* start background color override */
.bgDarkRed {
    background-color: #902724 !important;
}
.bgLightRed {
    background-color: #f23c27 !important;
}
.bgYellow {
    background-color: #f7d281 !important;
}
.bgLightBlue {
    background-color: #1b729f !important;
}
.bgDarkBlue {
    background-color: #1a323e !important;
}
.bgBlack {
    background-color: #000000 !important;
}
.bgWhite {
    background-color: #ffffff !important;
}
/* end background color override */



/* start spidey color palette */
.font-spidey-darkRed {
    color: #902724 !important;
}
.font-spidey-lightRed {
    color: #f23c27 !important;
}
.font-spidey-yellow {
    color: #f7d281 !important;
}
.font-spidey-lightBlue {
    color: #1b729f !important;
}
.font-spidey-darkBlue {
    color: #1a323e !important;
}
/* end spidey color palette */



/* start conlogo color palette */
.font-red {
    color: #ff2626 !important;
}
.font-yellow {
    color: #ffbf00 !important;
}
.font-white {
    color: #ffffff !important;
}
.font-black {
    color: #000000 !important;
}
/* end conlogo color palette */



/* start font sizes */
.fs4p0 {
    font-size: 4.0rem;
}
.fs3p75 {
    font-size: 3.75rem;
}
.fs3p5 {
    font-size: 3.5rem;
}
.fs3p25 {
    font-size: 3.25rem;
}
.fs3p0 {
    font-size: 3.0rem;
}
.fs2p75 {
    font-size: 2.75rem;
}
.fs2p5 {
    font-size: 2.5rem;
}
.fs2p25 {
    font-size: 2.25rem;
}
.fs2p0 {
    font-size: 2.0rem;
}
.fs1p75 {
    font-size: 1.75rem;
}
.fs1p5 {
    font-size: 1.5rem;
}
.fs1p25 {
    font-size: 1.25rem;
}
.fs1p0 {
    font-size: 1.0rem;
}
.fs0p75 {
    font-size: 0.75rem;
}
.fs0p5 {
    font-size: 0.5rem;
}
/* end font sizes */