/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* ////////////////////////////////////////////////////////////////
/* DO NOT REMOVE THIS CODE -- THE SITE WILL CRASH */
/* * {
	font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
////////////////////////////////////////////////////////////////
*/

.aboutDropdownHeader {
    text-transform: capitalize !important;
    color: fuchsia !important;
}

.hotelIMG {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.hotelCardContainer {
    border: solid 4px black !important;
    border-radius: 15px;
}

.hotelCardHeader {
    text-transform: capitalize !important;
}

.homeDescriptionComicSound {
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 0px;
}