.event-panel {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    background:#fff;
    /* border: solid black;
    border-color: black; */
}

.event-panel {
    width: 90%;
    /* border-width: 3px 3px 5px 5px; */
    /* border-radius: 4% 95% 6% 95%/95% 4% 92% 5%; */
    /* transform: rotate(-2deg); */
}

.row-key {
    font-weight: bold;
}

.event:hover {
	background-color: #E8F0E4;
}

.row-even {
    background-color: lightsteelblue;
}

::after {
    width: 10%;
}