@import url(https://fonts.googleapis.com/css?family=Bangers);

.event-panel {
    margin: 25px;
    width: 250px;
    height: 250px;
    background:#fff;
    border: solid black;
    border-color: black;
    float: left; 
}

.event-panel, .ep1 {
    width: 90%;
    /* border-width: 3px 3px 5px 5px; */
    /* border-radius: 4% 95% 6% 95%/95% 4% 92% 5%; */
    /* transform: rotate(-2deg); */
}

.row-even {
    background-color: lightsteelblue;
}