.vendorJumbotron {
    position: relative;
}
.vendorJumbotron img {
    position: absolute;
    inset: 0;
    opacity: 0.3;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vendorJumbotron .jumbotronContent {
    position: relative;
    z-index: 10;
}
.event-panel {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    background:#fff;
    width: 100%;
    /* border: solid black;
    border-color: black; */
}
.event-panel:nth-child(even) {
    background-color: #f6fcf4;
    /* border-width: 3px 3px 5px 5px; */
    /* border-radius: 4% 95% 6% 95%/95% 4% 92% 5%; */
    /* transform: rotate(-2deg); */
}
.row-key {
    font-weight: bold;
    padding: 0.5rem;
}
.accordion-event:nth-child(even) .accordion .accordion-item .accordion-button {
    background-color: #f6fcf4;
}
.accordion-event:nth-child(even) .accordion .accordion-item .accordion-button:hover {
	background-color: #E8F0E4;
}
.event:hover {
	background-color: #E8F0E4;
}
.table-head {
    padding-left: 3rem;
}
.accordion-element-spacing {
    display: inline-block;
    width: auto;
}
.full-accordion {
    display: inline-block;
    width: auto;
}
.full-accordion-description {
    padding-left: 5%;
    overflow-wrap: normal;
}
.accordion-button.collapsed:hover {
    background-color: #E8F0E4;
}
.accordion-button:not(.collapsed) {
    color: #37472f;
    background-color: #c9dac1;
}
.accordion-button:not(.collapsed)::after {
    content: "\02C5";
    color: #37472f;
    background: none;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    scale: 1.7 .9;
    font-weight: 100;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #d8e4d2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #9aaf90b6;
}